Does the following program fulfill any of these requirements:

Your program should have a class for a Video that has the responsibility to track the title, author, and length (in seconds) of the video. Each video also has responsibility to store a list of comments, and should have a method to return the number of comments. A comment should be defined by the Comment class which has the responsibility for tracking both the name of the person who made the comment and the text of the comment.

Once you have the classes in place, write a program that creates 3-4 videos, sets the appropriate values, and for each one add a list of 3-4 comments (with the commenter's name and text). Put each of these videos in a list.

Then, have your program iterate through the list of videos and for each one, display the title, author, length, number of comments (from the method) and then list out all of the comments for that video. Repeat this display for each video in the list.

A Video class exists and has a way to track the title, author, and length.

A Comment class exists that stores the name of the person and the text of the comment.

The Video class stores a list of Comment class objects.

The Video class contains a method that returns the number of comments directly from the way comments are stored (for example returns the length of the list).

Program runs without errors. It correctly creates at least 3 Video objects (including setting their values), and for each Video creates and sets at least 3 Comment objects (including setting their values). The Video objects are stored in a list.

Program runs without errors. It iterates through a list of Video objects and for each one displays the title, author, length, and number of comments (using the method) and for each video also displays the comments for that video (include the commenter's name and text).

Each class is defined in its own file and the name of the file exactly matches the class name. Vertical and horizontal whitespace (blank lines, indentation, braces) is correct throughout the program.

Classes and methods use TitleCase, member variables use _underscoreCamelCase, local variables use camelCase.